{% extends "layout.html.j2" %}
{% block content %}
<div class="row align-items-start">
  {% for board in boards %}
    <div class="col board-col bg-dark rounded">
      <h2 class="board-title text-white"> {{ board.title }} </h2>

      <button class="add-item-btn btn text-white" onclick="showItemForm(this)">
        <i class="fa fa-plus"></i>
        &nbsp;&nbsp;Add a new item.
      </button>

      <form class="add-item-form mb-3">
        <div class="mb-2">
          <label for="job-name" class="form-label text-white">Job Name</label>
          <input type="text" class="form-control" id="job-name">
        </div>
        <div class="mb-2">
          <label for="job-description" class="form-label text-white">Description</label>
          <textarea class="form-control" id="job-description" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add Item</button>
      </form>
    </div>
  {% endfor %}
</div>
{% endblock %}
